<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
    <title>Phản Ánh</title>
</head>

<body>
    <div class="container ">
        <div class="row body">
            <div class="col-md-4 login">
                <div class="body1">
                    <h1 class="text-center">Sign Up</h1>
                    <div class="form-group">
                        <form action="/" method="POST">
                            <input type="text" class="form-control btn-lg btn-block" name="username" id="" aria-describedby="helpId" placeholder="Username">
                            <input type="text" class="form-control btn-lg btn-block" name="password" id="" aria-describedby="helpId" placeholder="Password">
                            <p class="text-center"><a href="#" class="primary">forgot your password?</a></p>
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Đăng Nhập">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="body2">
                    <img class=" img-fluid " src="img/a.png" alt=" ">
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>